<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Students.Properties.Settings.DbStudentsConnectionString"
            connectionString="Data Source=DESKTOP-Q92463H;Initial Catalog=DbStudents;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Students.Properties.Settings.DbStudentsConnectionString1"
            connectionString="Data Source=DESKTOP-Q92463H;Initial Catalog=DbStudents;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
        <add name="Students.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-Q92463H;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Students.Properties.Settings.STUDENTSConnectionString"
            connectionString="Data Source=DESKTOP-Q92463H;Initial Catalog=STUDENTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>